.navbar {
  height: 95px;
  background-color: #f72210;
}

.logo-img {
  height: 82px;
}

.logo-img-nav {
  height: 60px;
  fill: white;
}

.login-icon {
  margin-right: 35px;
  font-size: 18px;
}

.subscribe-btn {
  color: #000;
  background-color: #ffe404;
  border-radius: 24px;
  border: #ffe404;
  font-weight: bold;
  width: 127px;
  line-height: 15px;
  font-size: 18px;
  margin-right: 14px;
  margin-left: 10px;
}

.user-icon,
.menu-icon {
  color: #f7c4c1;
}

.container-lg {
  max-width: 1310px;
}

.date {
  color: #fff;
}

.bottom-nav {
  height: 98px;
}

.list-items-1botttom-nav,
.list-items-2botttom-nav {
  list-style: none;
}

.list-items-1botttom-nav li {
  border-left: 1px solid #d9d9d9;
  padding: 0 10px;
}

.list-items-1botttom-nav a {
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  color: #000;
}

.list-items-2botttom-nav a {
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  color: #000;
  margin-right: 5px;
  padding-left: 20px;
}

.link-nw svg {
  width: 236px;
  fill: #f72210;
}

.editions-links li,
.about-links li {
  border-right: 1px solid #d9d9d9;
  padding-left: 20px;
}

.feature-h2,
.top-story-h2 {
  font-size: 16px;
}

.art-img {
  position: relative;
  min-height: 33px;
  margin-bottom: 10px;
}

.category {
  font-size: 17px;
  color: #f72210;
  padding: 8px 15px 9px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  bottom: 0;
  left: 0;
}

.feature-h3 {
  font-size: 24px;
  line-height: 24px;
  color: #000;
}

.feature-h3:hover,
.title:hover,
.author-name:hover,
.stories-h3:hover {
  text-decoration: underline;
  text-decoration-color: #f72210;
  color: #000;
}

.summary {
  font-size: 15px;
  line-height: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

/* .-img {
  position: relative;
  min-height: 33px;
  margin-bottom: 10px;
} */

.title a {
  font-size: 17px;
  color: #000;
}

.author-name {
  color: #000;
}

.versus {
  width: 32px;
  height: 32px;
  background-color: #000;
  color: #d6d6d6;
  border-radius: 50%;
  text-align: center;
  margin: 6px auto;
}

.debate-item1,
.debate-item2 {
  border-top: 1px solid #666666;
  padding-top: 15px;
}

article {
  padding-bottom: 20px;
}

.info {
  padding: 20px;
}

.text-primary {
  padding-left: 20px;
  font-size: 17px;
  padding-bottom: 9px;
}

.sponsor {
  padding-bottom: 30px;
}

.more-stories-items .image {
  margin-bottom: 10px;
  margin-right: 15px;
}

.more-stories-items {
  /* border-bottom: 1px solid #666; */
  border-top: 1px solid #666;
  padding: 14px 0;
}

.stories-h3 {
  font-size: 17px;
  line-height: 20px;
}
