.container-lg {
  max-width: 1310px;
}
.date {
  color: #fff;
}

.navbar {
  height: 95px;
}

.bottom-nav {
  height: 98px;
}

.list-items-1botttom-nav,
.list-items-2botttom-nav {
  list-style: none;
}
.list-items-1botttom-nav li {
  border-left: 1px solid #d9d9d9;
  padding: 0 10px;
}

.list-items-1botttom-nav a {
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  color: #000;
}

.list-items-2botttom-nav a {
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  color: #000;
  margin-right: 5px;
  padding-left: 20px;
}
