@import url("mobile.css") screen and (max-width: 767px);
@import url("tablet.css") screen and (min-width: 768px) and (max-width: 992px);
@import url("desktop.css") screen and (min-width: 993px);

body {
  font-family: "Roboto Condensed", sans-serif;
}

.main-container {
  height: 300px;
}

.main-footer {
  height: 200px;
}

.social-links-footer {
  display: flex;
  list-style: none;
}

.social-links-footer li {
  padding-right: 25px;
}

.social-links-footer i {
  color: #666;
  font-size: 26px;
}

.editions-links,
.about-links {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.editions-links li,
.about-links li {
  padding-right: 20px;
}

.link-nw {
  text-decoration: none;
}
